.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 12px;
    gap: 5px;
}

.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover{
    background-color: #60A5FA;
    color: #fff;
}

.pagination .active{
    background-color: #60A5FA;
    color: #fff;
}